* {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: white;
  height: 200px;
}

.logo {
  z-index: 1;
  display: inline;
  float: left;
  color: #222;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 70px;
}

.logo {
  font-size: 2.8em;
}

h1:hover {
  color: #575757;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-top: 55px;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


ul {
  z-index: 1;
  padding: 0;
  list-style: none;
  display: none;
  position: fixed;
  top: 180px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: right;
}

ul li {
  cursor: pointer;
  margin-right: 150px;
  margin: 15%;
}

ul li a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  color: #999;
}

ul li a:hover {
  text-decoration: none;
  color: black;
}

ul li .active {
  color: black;
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  max-height: 100%;
  max-width: 500px;
  margin: 0 auto;

}
.image img{
  width: 100%;
  max-width: 500px;
  position:absolute;
}

img:hover {
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  opacity: 0.8;
  cursor: pointer;
}

.row {
  padding-top: 20px;
}

.pictures {
  padding-bottom: 100px;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  padding-top: 10px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html, body {
    background-color: white;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html, body {
    background-color: white;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html, body {
    background-color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html, body {
    background-color: white;
  }
  .menu-icon {
    display: none;
  }

  .logo {
    z-index: 1;
    position: relative;
    display: inline;
    float: left;
    color: black;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
  }

  h1:hover {
    color: #575757;
  }

  ul {
    z-index: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    top: -70px;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: right;
  }

  ul li {
    position: relative;
    top: 20px;
    margin-right: 40px;
    cursor: pointer;
    float: right;
  }

}
