html, body {

}

.navbar {
  background-color: white;
}

h1 {
  z-index: 1;
  display: inline;
  float: left;
  color: black;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
}

h1:hover {
  color: #575757;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


ul {
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: right;
}

ul li {
  cursor: pointer;
}

ul li a {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
}

ul li a:hover {
  text-decoration: none;
  color: black;
}

ul li .active {
  color: black;
}

img {
  object-fit: cover;
  padding: 40px;
  width: 100%;
  height: 400px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html, body {
    background-color: black;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html, body {
    background-color: yellow;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html, body {
    background-color: green;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html, body {
    background-color: blue;
  }
  .menu-icon {
    display: none;
  }

  h1 {
    z-index: 1;
    display: inline;
    float: left;
    color: black;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
  }

  h1:hover {
    color: #575757;
  }

  ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: right;
  }

  ul li {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
  }

  img {
    padding: 40px;
    width: 100%;
    height: 75%;
  }
}
